# MySQL
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root

# JDBC serverTimezone
MYSQL_SERVER_TIMEZONE=UTC

# 서비스별 DB 계정 (docker/mysql/init 과 동일하게 맞출 것)
TICKET_DB_USER=ticket_svc
TICKET_DB_PASSWORD=ticket_pass
RESERVATION_DB_USER=reservation_svc
RESERVATION_DB_PASSWORD=reservation_pass
PAYMENT_DB_USER=payment_svc
PAYMENT_DB_PASSWORD=payment_pass

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
